$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin:10px;
}

p {
  margin-top:10px;
}

 
.TestDataDisplay{
  padding: 10px;
  border: 1px solid black;
  min-width: 100px;
  display: inline-block;
}

#dataAbovebox{
  height: 200px;
  overflow-y: scroll;
  
}
.container {
  display: flex; /* or inline-flex */
  justify-content: space-between;
 
}


.flexer {
  flex-grow: 1 ;
}
.sidebar {
  flex: 1;
  padding:20px;
  width: 20%;
  }
.main    {
  flex: 2;
  width: 50%;
  }

input[type=text] {
  padding:5px;
  border: 1px solid $primary-color ;
  width:90%;
}

input[type=select] {
  padding:5px;
  border: 1px solid $primary-color ;
  width:90%;
  margin-bottom: 10px;
}
button {
  padding:5px;
  margin-bottom: 10px;
}

#map{
  
  width:100%;
  height:500px;
  display: inline-block;
  border: 1px solid red;
}