body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  margin: 10px; }

p {
  margin-top: 10px; }

.TestDataDisplay {
  padding: 10px;
  border: 1px solid black;
  min-width: 100px;
  display: inline-block; }

#dataAbovebox {
  height: 200px;
  overflow-y: scroll; }

#map {
  float: right;
  width: 40%;
  height: 500px;
  display: inline-block;
  border: 1px solid red; }
